body {
font-size:100.01%;
line-height:1.4em;
margin:0;
padding:0;
background:#fff;
color:#000;
}

#wrapper {
margin:0 auto;
}

#header {
background:#000;
color:#fff;
padding:0.25em 0 0;
overflow:hidden;
}

#top_nav {
width:100%;
color:#fff;
}

#content_wrap {
width:100%;
}

#bottom_nav {
clear:both;
background:#000;
color:#fff;
}

#footer {
clear:both;
}