@mixin contentmargin {
margin:0 1em;
position: relative;
}

@mixin beforeandafter {
content:'';
width:1em;
height:100%;
display:block;
position:absolute;
}

$body-width: 60em;
$body-mobile: 48em;
$mobile-width: 48 - 0.0001em;
$tablet-end: 60 - 0.0001em;
$left-width:11em;
$right-width:18em;
$nav-height:3em;


@import 'reset';
@import 'layout';
@import 'pmcspec';
@import 'sidrdark';
@import 'mobile';
@import 'tablet';
@import 'desktop';